.main
  .main__top
    .main__top__group-info
      .main__top__group-info__name
        = @group.name
      .main__top__group-info__member-list
        member：
        .main__top__group-info__member-list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class:"main__top__edit-btn" do
      Edit
  .main__message-field
    = render @messages
        
  .main__bottom
    = form_with model: [@group, @message], html: {class: "main__bottom__form"}, local: true do |f|
      .main__bottom__form__contents
        = f.text_field :content, class: 'main__bottom__form__contents__text', placeholder: 'type a message'
        = f.label :image, class: 'main__bottom__form__contents__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'main__bottom__form__contents__image__file'
      = f.submit 'Send', class: 'main__bottom__form__send-btn'
